.hide {
   visibility: hidden;
}

.container {
   max-width: 500px;

}

body {
   background: lightgrey;
}

.viewer {
   text-align: center;
}

img {
   margin-bottom: 25px;
}

.input {
   text-align: center;
   font-size: 20px !important;
   color: black;
}

.food {
   position: absolute;
   opacity: .05;
   background-repeat: no-repeat;
   background-size: contain;
   /*background-size: 100%;*/
}

#answer {
   background-color: white;
   opacity: 0.9;
}